In [1]:
from common import *

In [2]:
# Read in buddies data, from google form, as csv -- could do xlsx but more preprocessing may be necessary
buddies = pd.read_csv('buddies.csv') # this should be a csv, see example in git

In [5]:
# Call matching function
pairs_df = find_pairs(buddies, n_neighbors = 4)

/Users/u398910/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/pairwise.py:1765: DataConversionWarning: Data was converted to boolean for metric dice
  warnings.warn(msg, DataConversionWarning)

In [6]:
pairs_df

    Buddy  New Member  Distance
0       2          28  0.000000
0       2          31  0.000000
0       2          33  0.090909
0       2          30  0.090909
0       4          32  0.000000
..    ...         ...       ...
0      94          38  0.000000
0      99          45  0.000000
0      99          35  0.000000
0      99           9  0.000000
0      99           8  0.000000

[200 rows x 3 columns]